body{
  font-family: Open Sans, sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
  line-height: 1;
}
.TodoPage-title{
  font-size: 28px;
  line-height: 1.6;
  color: #423a4C;
}

.TodoSection-todo{
  font-size: 34px;
  line-height: 1.4;
  color: #54515C;
}

ul{
  list-style-type: none ;
  padding-inline-start:0px;
  margin: 0px;

}
.TodoSection {
  margin-bottom: 14px;
}

.TodoSection-title{
  display: flex;
  color: #453C52;
  align-items: center;
}
.TodoSectionTitle-text{
  align-items: center;
  margin-right: 8px;
  font-weight: bold;
  margin-bottom: 7px;
  font-size: 17px;
  color: #54515C;
   line-height: 1.4;
}

.todoSectionTitle-remaining{
  font-size: 14px;
  color: #54515C;
  margin-bottom: 3px;
}
.AddTodo{
  height: 32px;
  margin-bottom: 24px;
}

.AddTodo-text {
  color: grey;
  padding: 6px 12px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFBBCC;
  font-size: 14px;
}

.AddTodo-date {

  padding: 6px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFBBCC;
}
.AddTodo-button{
  background-color:#56c595;
  font-size: 14px;
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: white;
}
.AddTodo-button:hover{
  cursor: pointer;
}
.TodoItem{
font-size: 14px;
margin-left: 8px;
margin-bottom: 6px;
color:#433E49;
}
.TodoItem-checkbox{
margin-right: 6px;
}

.TodoItem-container{
display: inline-flex;
padding: 2px 8px;
font-size: 17px;
align-items: center;
}
.TodoItem-dueDate {
font-size: 10px;
color: rgb(141, 133, 154);
margin-left: 10px;
}

.TodoSection h2{
  color: #453C52;
}
.TodoItem-datelabel{
color:#84848B;
margin:0px;
margin-left:10px;
font-size: 14px;
}

.TodoItem-delete img{
  visibility:hidden;
  margin-left: 10px;
}
.TodoItem-container:hover{
background-color: #F0ECF7;
border-radius: 3px;
cursor: pointer;
}


.TodoItem-container:hover .TodoItem-delete img{

   visibility: visible;
}
